div {
    font-family: cursive;
    font-size: 18px;
}

h1 {
    font-family: cursive;
}

/*
#main-page {
    
    Full height --comentar
    height: 100%; 

    Center and scale the image nicely --comentar
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

#page-body {
    max-width: 850px;
    margin: auto;
    padding-top: 20px;
    text-align: left;
}



.BookRow-list li {
    display: inline-flex;
    padding: 40px;
}

.ReservationTable {
    text-align: center;
    padding-top: 30px;
}

.ReservationTable h2{
    padding-bottom: 30px;
}


.ClockIcon {
    height: 80px;
    width: 80px;
  }

#bookrow-description {
    font-size: 18px;
    font-weight: bold;
    vertical-align: 30px;
    
}

#bookrow-time {
    color: gray;
    font-size: 18px;
    font-weight: bold;
    vertical-align: 30px;
}

#button-reserve {
    vertical-align: 30px;
}

  
#button-reserve:hover {
    background-color: #03A4EC;
    color: white;
  }

  #button-reserve {
    font-family: cursive;
    background-color: white; 
    color: black; 
    border: 1px solid gray;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    outline-style: none;
  }

  #calendar {
      padding-top: 40px;
  }
  
  

